/* IN GENERAL */
img {
  border-radius: 10px;
}

h1 {
  font-size: 48px;
  color: #3E4147;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 21px;
  color: #3E4147;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

button {
  background-color: #004A44;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .05rem;
  width: 154px;
  height: 53px;
  border-radius: 10px;
  margin-top: 30px;
  border-color: #004A44;
  border-style: solid;
  box-shadow: 2px 2px 5px rgba(0,74,68, .25);
}

.text-strong {
  font-weight: 500;
}

/* NAVBAR */
nav {
  background-color: #183F3C;
  margin: 0;
}

ul:first-child {
  float: left;
}
ul:last-child {
  float: right;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding-bottom: 0;
  padding-top: 0;
}

.menu {
  display:flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.dropdown {
  display: flex;
  height: 95%;
  margin: 0;
  padding-right: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 0.5px solid #DFDEE2;
  font-weight: 700;
}

.search-icon {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.navbar-wrapper .dropdown a {
  color: #DFDEE2;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

/* LANDING PAGE */
.banner {
  background-color: #F0B861;
}

.banner-content {
  display: flex;
  margin: 0;
  padding-top: 60px;
  padding-left: 115px;
  padding-right: 80px;
}

.banner-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 380%;
}

.banner-right-side {
  flex: 1;
}

span.font-luckiest-guy {
  font-family: Luckiest Guy;
  color: #ED5E37;
  font-size: 96px;
  padding-left: 30px;
}

.banner-bottom {
  display: flex;
  flex-direction: column;
  color: #3E4147;
  font-size: 21px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

.banner-bottom img {
  margin-bottom: -30px;
}

.banner-bottom h3 {
  width: 250px;
  margin-top: -55px;
  letter-spacing: .15rem;
  font-weight: 300;
}

.dog-preview-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 60px;
}

.dog-preview-list-item {
  display: flex;
  flex: 1;
  max-width: 350px;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 60px;
}

.dog-preview-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dog-preview-description h3 {
  padding: 21px 0 13px 0;
}

.dog-preview-description p {
  font-size: 19px;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #8F96A1;
  padding: 4px 0;
  margin: 0;
}

/* RESPONSIVE CSS */
@media only screen and (max-width:1000px) {
  .nav-link {
    display: none;
  }
}
@media only screen and (max-width:1340px) {
  .banner-left-side {
    align-items: center;
    padding-top: 100px;
    padding-bottom: 148px;
  }
  .banner-right-side {
    display: none;
  }
}